:root {
    --__color-primary: white;
    --__color-secondary: #2ece2e;
}

#LogoContainer {
    background-color: #c00 !important;
}

.ValidationError {
    font-weight: bold !important;
    color: magenta !important;
    background: none !important;
}

#ProgressBarFillContainer {
    background-color: #666 !important;
}

.ProgressBarContainer {
    margin-top: 20px !important;
}

.drillDownSelectDropDown {
    color: black !important;
}
